body {
    background-image: url(../images/images.jpg);
    background-position: center;
    background-size: cover;
    color: #0878A4;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

header {
    font-style: italic;
    text-align: center;
    margin: 25px 0 225px 0;
}

/* divs containing pictures */
.avengers {
    height: auto;
    width: 95%;
}

.avengers2 {
    height: auto;
    width: 115%;
}

/* div containing word being guessed */
.guessbox {
    height: 100px;
    width: 100%;
    text-align: center;
    font-family: 'Bangers', cursive;
}

.guessWord {
    font-size: 60px;
}

/* class used to center text in a few divs */
.info-div {
    text-align: center;
    font-size: 60px;
    height: auto;
    width: 100%;
}
